:root{
    --babypink: #f7d7c8;
    --light: #999999;
    --dark: rgb(0, 0, 0);
    --verylight:#ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#big{
    font-size: 3.5em;
    letter-spacing: 2px;
}
.light-pink{
    color: var(--babypink);
}
.light{
    color: var(--light);
}
.very-light{
    color: var(--verylight);
}
body{
    font-family: sans-serif;
    /* min-width: 70vh; */
}
main{
    background-color: var(--dark);
    padding: 0 6rem;

}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}
.profile .icon{
    display: inline-block;
    margin: 1em 0.6em;
}
.profile h1{
    margin: 0.5em 0;
    font-size: 2em;
    text-transform: capitalize;
}
.profile img{
    /* width:125px;
    height: 125px; */
    width:23em;
    height: 25em;
    /* width:25%;
    height: 25%; */
    border-radius: 50%;
    margin: 0.5em 0;
}
.profile h3{
    margin: 1em 0;
text-transform: capitalize;}
.profile p{
width: 40em;
text-align: justify;
margin: 0.5em 0;
}
.section-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em;
}
.section-1 .first{
    width: 45%;
}
.section-1 .first .upper{
    margin: 0.5em 0;
    text-transform: uppercase;
}
.section-1 .second{
    width: 45%;
}
.section-1 .second .note{
margin: 0.5em 0;

}
.section-1 .second .chat{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section-1 .second .chat p{
 margin: 0 0.5em ;
}
.section-2{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.section-2 h1{
   text-align: center;
   font-size: 3.5em;
   padding: 0.6em 0;
   width: 100%;
   /* border: 2px solid; */
   border-bottom: 2px solid var(--babypink);
}
.section-2 h2{
    font-size: 2em;
    padding: 1em 2em;
    line-height: 2em;
    letter-spacing: 2px;
    text-align: center;
   
}
.section-2 .icon{
    display: inline-block;
    font-size: 2em;
    margin: 0 0 1em 0;   
}
.section-2 h5{
    text-transform: uppercase;  
    margin-bottom: 1em;
}
.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* width: 70%; */
    /* margin: 1em auto; */
}
.section-3 div img{
    width: 30%;
    margin: 1em 0em;
    border-radius: 2em;
}
.section-3 a{
    /* background-color: red; */
    text-transform: uppercase;
    color: var(--babypink);
    padding: 1em 4em;
    margin: 1em 0;
    font-size: 1.2em;
    border: 2px solid var(--babypink);
    text-decoration: none;
}
.section-3 a:hover{
    background-color: var(--babypink);
    color: var(--dark);
}
.section-4{
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-4 p{
    margin-bottom: 1em;
}
.section-4 div{
    width: 47%;
}

.section-5{
    /* width: 1000px; */
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-5 h2{
     margin: 1em;
}
.section-5 span{
     margin: 0 1em;
}
.section-6{
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
}
.section-6 .first{
    width: 80%;
    padding: 1em 0 2em 0;
    border-bottom: 0.8em solid var(--babypink);
}
.section-6 .first h3{
    text-align: center;
    margin: 1em;
}
.section-6 .first p{
    text-align: center;
}
.section-6 .second p{
    text-align: center;
    margin: 2em 0;
}
footer{
    background-color: rgb(58, 58, 58);
    color: var(--verylight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    padding: 1.5em 0;
}
footer a{
    color: rgb(172, 172, 172);
}
